<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>GlobOrganic</title>
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">

        <script  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'home/lazy_load.js' %}"></script>
        <script src="https://kit.fontawesome.com/6fd983a717.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main-container">
             <!-- navigation bar start-->
            
             {% include "public/navbar.html" %}

            <!--Home Section Start-->
            <section class="disply-board" id="disply-board">
                <div class="max-width">
                    <div class="display-board-imgs">
                        <div class="descriptive-words">
                            <span class="first"></span>
                            <span class="second"></span>
                        </div>
                    </div>
                    <div class="search-form-container">
                        <form class="search-form" action="" method="GET"> 
                            <label>Look For Specific Products</label>
                            <div>
                                <input type="text" name="text" class="search" placeholder="Look for Specific Products">
                                <button type="submit"><img src="{% static 'home/images/search.png' %}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- about section start -->
            <section class="brief-overview" id="brief-overview">
                <div class="max-width">
                    <h2 class="title">Brief Overiew on Us</h2>
                    <div class="brief-overview-content">
                        <div class="column left">
                            <!-- <img src="../Resourses/profilephoto.jpg" alt=""> -->
                            <img src="{% static 'home/images/MAIN11.jpg' %}" alt="globorganic logo">
                        </div>
                        <div class="column right">
                            <p>
                                Our company provides various Moroccan organic products and services, including private labels, to its international customers. We deal with international countries all over the world, in Europe, Asia, America, Australia and Africa.
                            </p>
                            </div>
                    </div>
                </div>
            </section>


            <!-- sevices section start -->
            <section class="services" id="services">
                <div class="max-width">
                    <h2 class="title">Our Services</h2>
                    <div class="services-content">

                    <div class="card">
                        <div class="box">
                            <!-- <img src="../Resourses/vilage_wall.jpg"> -->
                            <div class="text">Organic Oils</div>
                            <p>Provide you with the Most High Quality Natural and Organic Oils of a major range of plants</p>
                        </div>
                    </div>

                    <div class="card">
                            <div class="box">
                                <!-- <img src="../Resourses/charcter_design_example.jpg"> -->
                                <div class="text">Private Labling</div>
                                <p>Provide Distributer with Ready to Sell Oils, With there own Covers or one of owr designs.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="box">
                                <!-- <img src="../Resourses/logo_design_example.jpg"> -->
                                <div class="text">Shipping</div>
                                <p>We Ship our Products World-widely in a time period depends on you country .</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="box">
                                <!-- <img src="../Resourses/t_shirt_design_example.jpg"> -->
                                <div class="text">New Service</div>
                                <p>Comming Soon !</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!--Skills Section Start-->

            <section class="costumers" id="costumers">
                <div class="max-width">
                    <h2 class="title">Our Costumers</h2>
                    <div class="costumers-content">
                        <div class="costumer-section">
                            <h4 class="costumer-name">Comming...</h4>
                            <p>for privacy reasons our costumers prefer to not be mentioned.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="certifications" id="certifications">
                <div class="max-width">
                    <h2 class="title">Our Certifications</h2>
                    <div class="certifications-content">
                        <div class="cert cert-0">
                            <img draggable="false" src="{% static 'home/images/certificats/Agriculture_Biologique.png' %}">
                        </div>
                        <div class="cert cert-1">
                            <img draggable="false" src="{% static 'home/images/certificats/biomaroc.jpg' %}">
                        </div>
                        <div class="cert cert-2">
                            <img draggable="false" src="{% static 'home/images/certificats/bureau_veritas.png' %}">
                        </div>
                        <div class="cert cert-3">
                            <img draggable="false" src="{% static 'home/images/certificats/EACCE.png' %}">
                        </div>
                        <div class="cert cert-4">
                            <img draggable="false" src="{% static 'home/images/certificats/ecocert.png' %}">
                        </div>
                        <div class="cert cert-5">
                            <img draggable="false" src="{% static 'home/images/certificats/GMP_Quality.jpg' %}">
                        </div>
                        <div class="cert cert-6">
                            <img draggable="false" src="{% static 'home/images/certificats/fda.png' %}">
                        </div>
                        <div class="cert cert-7">
                            <img draggable="false" src="{% static 'home/images/certificats/iso.png' %}">
                        </div>
                        <div class="cert cert-8">
                            <img draggable="false" src="{% static 'home/images/certificats/ONSSA.png' %}">
                        </div>
                        <div class="cert cert-9">
                            <img draggable="false" src="{% static 'home/images/certificats/USDA_organic.png' %}">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% include "public/footer.html" %}
        
    </body>

</html>