*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background: var(--background1);
}
.max-width{
    max-width: 1300px;
    padding: 0px 50px;
    margin: auto;
}

/*Home section styling*/
.disply-board{
    padding: 0px;
    display: flex;
    justify-self: center;
    top: 0px;
    height: 620px;
    color: var(--text-color);
}

.disply-board .max-width{
    margin: 0px auto;
    height: 40em;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(82, 144, 107,.5), rgba(25, 59, 30, .7)), var(--slide0)/*url(images/slide_three.jpg)*/;
    transition: 5s;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-content: center; */
    /* align-items: flex-end; */

    animation-name: slider-animation;
    animation-direction: alternate;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes slider-animation{
    0%{
        background-image: linear-gradient(rgba(82, 144, 107,.3), rgba(25, 59, 30, 1)), var(--slide0)/*url(images/slide_zero.jpg)*/;
    }
    25%{
        background-image: linear-gradient(rgba(82, 144, 107,.3), rgba(25, 59, 30, 1)), var(--slide1)/*url(images/slide_one.jpg)*/;
    }
    50%{
        background-image: linear-gradient(rgba(82, 144, 107,.3), rgba(25, 59, 30, 1)), var(--slide2)/*url(images/slide_two.jpg)*/;
    }
    75%{
        background-image: linear-gradient(rgba(82, 144, 107,.3), rgba(25, 59, 30, 1)), var(--slide3)/*url(images/slide_three.jpg)*/;
    }
    100%{
        background-image: linear-gradient(rgba(82, 144, 107,.3), rgba(25, 59, 30, 1)), var(--slide4)/*url(images/slide_four.jpg)*/;
    }
}

.disply-board .max-width .search-form-container{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.disply-board .max-width .display-board-imgs{
    grid-row-start: 1;
    grid-column-start: 1;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.disply-board .max-width .display-board-imgs .descriptive-words{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    user-select: none;
    word-spacing: 10px;
    font-weight: bold;
    
}


.disply-board .max-width .display-board-imgs .descriptive-words .first span{
    color: var(--text1-color);
    font-size: 48px;
    font-weight: bold;
}





.disply-board .max-width .search-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(82, 144, 107, .7);
    border-radius: 30px;
    backdrop-filter: blur(4px) saturate(180%);
}
.disply-board .max-width .search-form label{
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
}
.disply-board .max-width .search-form div{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 20px;
}

.disply-board .max-width .search-form div input{
    background-color: transparent;
    border: 0;
    flex: 1;
    outline: none;
    padding: 5px 10px;
    font-size: 18px;
    color: var(--background1);
}
::placeholder{
    color: var(--text-color);
}
.disply-board .max-width .search-form div button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--attention-color);
    cursor: pointer;
    transition: all .4s ease;
}
.disply-board .max-width .search-form div button:hover{
    background: var(--background-highlight);
    border: solid 2px var(--text-color);
}
.disply-board .max-width .search-form div button img{
    width: 25px;
}

.disply-board .max-width .highlight-pruduct-card{
    margin-left: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 275px;
    border: solid 2px var(--attention-color);
    border-radius: 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.items-gallery{
    background-color: var(--background1);
}

.gallery-body{
    display: flex;
    justify-content: start;
    flex-direction: row;

    border: solid 2px var(--attention-color);
    border-radius: 20px;

    font-family: 'Ubuntu', sans-serif;
}
.gallery-body .right-row{
    display: flex;
    justify-content: start;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;

    padding: 40px 20px;

    color: var(--background-highlight);
    background-color: var(--text1-color);
    border-radius: 18px 0px 0px 18px;

}

select{
    width: 100px;
    background: var(--text-color);
    color: var(--background1);
    border: solid 1.5px var(--attention-color);
    border-radius: 20px;
    padding: 2.5px 5px;
    margin: 5px 10px;
}
select:focus,
select:hover{
    border-color: var(--background-highlight);
    outline: none;
}

.gallery-body .right-row .setting-panel{
    margin: 5px 0
}
.gallery-body .right-row .setting-panel label,
.gallery-body .right-row .setting-panel h3{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18.72px;
}
.gallery-body .right-row .setting-panel p{
    margin-bottom: 10px;
    font-size: 14px;
}
.gallery-body .right-row .price .price-input{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.gallery-body .right-row .price .price-input div{
    margin: 5px 10px;
}
.gallery-body .right-row .price .price-input .field{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gallery-body .right-row .price .price-input .field span{
    margin-right: 10px;
}
.gallery-body .right-row .price .price-input .field input{
    width: 50px;
    text-align: center;
    font-weight: bold;

    border: solid 2px var(--attention-color);
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--background1);
    padding: 5px;

    transition: all .3s ease;
}
.gallery-body .right-row .price .price-input .field input:focus,
.gallery-body .right-row .price .price-input .field input:hover{
    border-color: var(--background-highlight);
    outline: none;
}
.gallery-body .right-row .price .price-input .field input::-webkit-outer-spin-button,
.gallery-body .right-row .price .price-input .field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.gallery-body .right-row .price .price-input .field input[type = number]{
    -moz-appearance: textfield;
}

.gallery-body .right-row .price .currency{
    margin-top: 15px;
}

.gallery-body .right-row .price .slider{
    margin-top: 10px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--text-color);
    position: relative;
}
.gallery-body .right-row .price .slider .progress{
    position: absolute;
    left: 0%;
    right: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--attention-color);
}
.gallery-body .right-row .price .range-input{
    position: relative;
    width: 100%;
}
.gallery-body .right-row .price .range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
.gallery-body .right-row .price .range-input input:focus-visible{
    border: none;
    outline: none;
}
.gallery-body .right-row .price .range-input input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: var(--attention-color);
}
.gallery-body .right-row .price .range-input input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background-color: var(--attention-color);
}

.gallery-body .left-row{
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    background-color: var(--text-color);
    border-radius: 0px 18px 18px 0px;
    width:100%;
}

.gallery-body .left-row .grid-container{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-gap : 15px 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-content: stretch;
}
.gallery-body .left-row .grid-container .item{
    background-color: transparent;
    min-height: 250px;

    border: solid 0 var(--attention-color);

    border-radius: 30px;
    box-shadow: rgba(119, 140, 150, 0.2) 2px 4px 8px 2px;
    transition: all 0.4s;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    padding: 15px;
}

.gallery-body .left-row .grid-container .item:hover{
    border: solid 1.5px var(--attention-color);
    box-shadow: rgba(119, 140, 150, 0.3) 0px 19px 38px, rgba(119, 140, 150, 0.22) 0px 15px 12px;
}

.gallery-body .left-row .grid-container .item .button-container{
    align-self: flex-end;
    display: flex;
}
.gallery-body .left-row .grid-container .item .button-container .btn{
    padding: 5px 10px;
    border: solid 2px;
    border-radius: 20px;

    font-size: 16px;

    transition: all 0.3s ease;
}
.gallery-body .left-row .grid-container .item .button-container .see-more-btn{
    color: var(--text-color);
    background-color: var(--background1);/*#e48800*/
}
.gallery-body .left-row .grid-container .item .button-container .add-to-cart-btn{
    /* color: #e48800; */
    color:  var(--background1);
}
.gallery-body .left-row .grid-container .item .button-container .see-more-btn:hover{
    color: var(--text-color);
    background-color: var(--attention-color);
}
.gallery-body .left-row .grid-container .item .button-container .add-to-cart-btn:hover{
    color: var(--text-color);
    background-color: var(--attention-color);
}

.gallery-body .left-row .grid-container .item .name{
    font-family: 'Edu VIC WA NT Beginner', cursive;

    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.gallery-body .left-row .grid-container .item .discription{
    font-size: 14px;
    margin-bottom: 25px;
}

.gallery-body .left-row .left-row-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.gallery-body .left-row .left-row-footer .shortcut-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.gallery-body .left-row .left-row-footer .shortcut-container .shortcut{
    margin: 0 5px;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;
}
.gallery-body .left-row .left-row-footer .shortcut-container .page-shortcut{
    background: var(--background1);
    color: var(--text-color);
    text-decoration: none;
}

.gallery-body .left-row .left-row-footer .shortcut-container .first-page-shortcut,
.gallery-body .left-row .left-row-footer .shortcut-container .last-page-shortcut{
    border: solid 2px;
    color: var(--background1);
    padding: 10px 12.5px;
    font-size: 12px;
    text-decoration: none;

}
.gallery-body .left-row .left-row-footer .shortcut-container .current-page-shortcut,
.gallery-body .left-row .left-row-footer .shortcut-container .shortcut:hover{
    background-color: var(--attention-color);
}


/* Similar content styling */
section {
    padding: 100px 0px;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: var(--text1-color);
}
section .title::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 3px;
    bottom: 0px;
    left: 50%;
    background: var(--attention-color);
    transform: translateX(-50%);
}
section .title::after{
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 5px;
    color: var(--attention-color);
    background: var(--background1);
    transform: translateX(-50%);
}



/*
-----------------------------------
     Resposive Media Query Start
-----------------------------------
*/
@media(min-width: 714px){
    .disply-board .max-width .display-board-imgs .descriptive-words{
        width: 65%;
    }
}
@media (max-width: 1020px){

    .max-width{
        max-width: 950px;
    }
    .disply-board .max-width .search-form-container{
        justify-content: center;
        align-items: flex-end;
    }
    .disply-board .max-width .display-board-imgs{

        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }
    .disply-board .max-width .highlight-pruduct-card{
        margin-top: 20px;
        margin-left: 0;
    }

}

@media (min-width: 750px){
    .gallery-body .left-row .grid-container .item-3{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .gallery-body .left-row .grid-container .item-4{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .gallery-body .left-row .grid-container .item-6{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .gallery-body .left-row .grid-container .item-7{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


/* Mobile style */
@media (max-width: 713px){
    section .title{
        font-size: 36px;
    }
    section .title::after{
        font-size: 14px;
    }
    .disply-board .max-width{
        padding-top: 100px;
    }
    .disply-board .max-width .display-board-imgs,
    .disply-board .max-width .search-form-container{
        justify-self: center;
    }

    .disply-board .max-width .search-form div{
        padding: 7px 10px;
    }
    .disply-board .max-width .search-form label{
        font-size: 18px;
    }
   
    .disply-board .max-width .search-form div input{
        font-size: 14px;
    }
    .disply-board .max-width .search-form div button img{
        width: 20px;
    }
    .disply-board .max-width .search-form div button{
        width: 30px;
        height: 30px;
    }

    .items-gallery .max-width{
        padding: 0 15px;
    }
    .gallery-body{
        justify-content: flex-start;
        flex-direction: column;
    }

    .gallery-body .right-row{
        justify-content: start;
        align-items: stretch;
    
        padding: 40px 10%;
    
        border-radius: 18px 18px 0px 0px;
    }
    .gallery-body .left-row{
        padding: 40px 20px;
        border-radius: 0px 0px 18px 18px;
    }
    .gallery-body .left-row .grid-container{
        grid-template-columns: 100%;
        grid-gap : 15px 10px;
    }
    .gallery-body .left-row .grid-container .item{
        min-height: 350px;
   
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
    
    }
}

@media (max-width: 595px){

}