{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/dropdown_menu.js' %}"></script>

<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="https://www.globorganic.com/" aria-current="page">
                <img src="{% static 'images/logo-small-1-1.png' %}">
            </a>
        </div>
        <ul class="menu">
            <li class="link-list-iten" style="order: 2;"><a class="menu-link home-link" href="{% url 'home' %}">Home</a></li>
            <li id="drop-down-menu-btn" class="drop-down-menu-btn link-list-iten " style="order: 3;">
                <div class="first-half">
                    <a class="menu-link products-link" style="cursor: pointer;">Products</a>
                    <i class="bx bx-chevron-down" style="color: #fff;margin-left: 3px;"></i>
                </div>
                <div class="second-half">
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="{% url 'products' %}">All</a></li>
                        <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/essential-oils/">Essential Oils</a></li>
                        <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/vegetable-oils/">Vegetable Oils</a></li>
                        <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/eaux-florales/">Floral Waters</a></li>
                        <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/savon/">Soap</a></li>
                        <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/argile/">Argile</a></li>
                    </ul>
                </div>
            </li>
                
            <li class="link-list-iten" style="order: 4;"><a class="menu-link blog-link" href="{% url 'blog' %}">Blog</a></li>
            <li class="link-list-iten" style="order: 5;"><a class="menu-link services-link" href="https://www.globorganic.com/services/">Services</a></li>
            <li class="link-list-iten" style="order: 6;"><a class="menu-link about-link" href="https://www.globorganic.com/about/">About</a></li>
            <li class="link-list-iten" style="order: 7;"><a class="menu-link contact-link" href="https://www.globorganic.com/call/">Contact</a></li>
            <li class="user-region" >
                {% if request.user.is_authenticated %}
                <div class="user-card">
                    <label class="username-label">{{ request.user.username }}</label>
                    <img class="profile-img" src="{% static 'images/user_default.png' %}" alt="globorganic logo">
                </div>
                {% else %}
                <div>
                    <a class="log" href="{% url 'login' %}">Log in</a>
                </div>
                <div>
                    <a class="register" href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}
            </li>
        </ul>
        <div class="menu-btn">
            <i class="burger-i">
                <span class="l-0"></span>
                <span class="l-1"></span>
                <span class="l-2"></span>
            </i>
        </div>
    </div>
</nav>