{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="https://www.globorganic.com/" aria-current="page">
                <img src="{% static 'home/images/logo-small-1-1.png' %}">
            </a>
        </div>
        <ul class="menu">
            <li class="link-list-iten"><a class="menu-link home-link" href="https://www.globorganic.com/">Home</a></li>
            <li id="drop-down-menu-btn" class="drop-down-menu-btn link-list-iten ">
                <a class="menu-link products-link" style="cursor: pointer;">Products</a><i class="bx bx-chevron-down" style="color: #fff;margin-left: 3px;"></i>
            </li>
                
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/essential-oils/">Essential Oils</a></li>
                <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/vegetable-oils/">Vegetable Oils</a></li>
                <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/eaux-florales/">Floral Waters</a></li>
                <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/savon/">Soap</a></li>
                <li class="sub-menu-item"><a href="https://www.globorganic.com/product-category/argile/">Argile</a></li>
            </ul>
            
            <li class="link-list-iten"><a class="menu-link private-label-link" href="https://www.globorganic.com/private-label-manufacturer/">Private Label</a></li>
            <li class="link-list-iten"><a class="menu-link services-link" href="https://www.globorganic.com/services/">Services</a></li>
            <li class="link-list-iten"><a class="menu-link about-link" href="https://www.globorganic.com/about/">About</a></li>
            <li class="link-list-iten"><a class="menu-link contact-link" href="https://www.globorganic.com/call/">Contact</a></li>
            <li>
                <a class="log" href="#">Log in</a>
            </li>
            <li>
                <a class="register" href="#">Register</a>
            </li>
        </ul>
        <div class="menu-btn">
            <i class="burger-i">
                <span class="l-0"></span>
                <span class="l-1"></span>
                <span class="l-2"></span>
            </i>
        </div>
    </div>
</nav>