<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>GlobOrganic | Products</title>
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
        <link rel="stylesheet" href="{% static 'products/products_page.css' %}">
        <script  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/6fd983a717.js" crossorigin="anonymous"></script>
    </head>
    <style>
        @import "{% static 'css/imports.css' %}";
        @import "{% static 'css/vars.css' %}";;
    </style>
    <body>
        <div class="main-container">
             <!-- navigation bar start-->
            
             {% include "public/navbar.html" %}

                        <!--Home Section Start-->
                        <section class="disply-board" id="disply-board">
                            <div class="max-width">
                                <div class="display-board-imgs">
                                    <div class="highlight-pruduct-card">
                                    </div>
                                </div>
                                <div class="search-form-container">
                                    <form class="search-form" action="" method="GET"> 
                                        <label>Look For Specific Products</label>
                                        <div>
                                            <input type="text" name="text" class="search" placeholder="Look for Specific Products">
                                            <button type="submit"><img src="{% static 'home/images/search.png' %}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>


        </div>

        {% include "public/footer.html" %}
        
    </body>

</html>