<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>GlobOrganic | Products</title>
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
        <link rel="stylesheet" href="{% static 'products/products_page.css' %}">
        <script  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/6fd983a717.js" crossorigin="anonymous"></script>
        <style>
            @import "{% static 'css/imports.css' %}";
            @import "{% static 'css/vars.css' %}";;
        </style>
    </head>
    <body>
        <div class="main-container">
             <!-- navigation bar start-->
            
             {% include "public/navbar.html" %}

            <!--Home Section Start-->
            <section class="disply-board" id="disply-board">
                <div class="max-width">
                    <div class="display-board-imgs">
                        <div class="highlight-pruduct-card">
                        </div>
                    </div>
                    <div class="search-form-container">
                        <form class="search-form" action="" method="GET"> 
                            <label>Look For Specific Products</label>
                            <div>
                                <input type="text" name="text" class="search" placeholder="Look for Specific Products">
                                <button type="submit"><img src="{% static 'home/images/search.png' %}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="items-gallery" id="items-gallery">
                <div class="max-width">
                    <div class="top-container">

                    </div>
                    <div class="gallery-body">
                        <div class="right-row">
                            <div class="sort-by setting-panel">
                                <label>Sort by</label>
                                <select name="sort-by-select">
                                    <option value="latest">latest</option>
                                    <option value="oldest">oldest</option>
                                    <option value="pupolar">pupolar</option>
                                </select>
                            </div>
                            <div class="type setting-panel">
                                <label>Product type</label>
                                <select name="type-select">
                                    <option value="oil">oil</option>
                                    <option value="savon">savon</option>
                                </select>
                            </div>

                            <div class="price setting-panel">
                                <h3>Price</h3>
                                <p>Use slider or enter min or/and max price</p>
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" class="input-min" value="10">
                                    </div>
                                    <div class="seperator">-</div>
                                    <div class="field">
                                        <span>Max</span>
                                        <input type="number" class="input-max" value="100">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="10" max="100" value="10" step="5">
                                    <input type="range" class="range-max" min="10" max="100" value="100" step="5">
                                </div>

                                <div class="currency">
                                    <span>Currency</span>
                                    <select name="type">
                                        <option value="usd">USD</option>
                                        <option value="euro">EURO</option>
                                        <option value="mad">MAD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="left-row">
                            <div class="grid-container">
                                {% for product in products %}
                                <div class="item-{{ forloop.counter }} item">
                                    <img alt="{{ product.name }}" src="{{ product.imageUrl }}">
                                    <div class="name">
                                        {{ product.name }}
                                    </div>
                                    <div class="discription">
                                        {{ product.short_discription }}
                                    </div>
                                    <div class="button-container">
                                        <a class="see-more-btn btn" href="{% url 'product_page' '{{ product.name }}' %}">See More</a>
                                        <a class="add-to-cart-btn btn" href="#">Add To Cart</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="left-row-footer">
                                <div class="shortcut-container">
                                    {% if current_index is not 1 %}
                                    <a class="shortcut first-page-shortcut" href="{% url 'products' 1 %}">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                    {% endif %}
                                    {% for page in pages_count %}
                                    <a class="shortcut page-shortcut {% if forloop.counter is current_index%} current-page-shortcut {% endif %}" href="{% url 'products' forloop.counter %}">
                                        {{ forloop.counter }}
                                    </a>
                                    {% endfor %}
                                    {% if current_index is not pages_count_int %}
                                    <a class="shortcut last-page-shortcut" href="{% url 'products' pages_count_int %}">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>

        {% include "public/footer.html" %}
        
    </body>
    <script src="{% static 'products/js/range.js' %}"></script>
</html>